.review-item{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    width: 570px;
    display: flex;
}

.review-item img{
    height: 90px;
    border-radius: 5px;
}

.product-info-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-info p, h5{
    margin: 0;
}

.product-name{
    color: blueviolet;
    margin-top: 0;
}

.orange-color{
    color: orange;
}

.delete-container{
    display: flex;
    align-items: center;
}

.delete-btn{
    height: 55px;
    width: 55px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(251, 230, 230);
    cursor: pointer;
}

.delete-icon{
    font-size: 30px;
    color: rgb(239, 105, 105);
}